
body {
    margin : 0;
    padding : 0;
}

main {
    padding : 16px;
}


footer {
    padding : 24px 0px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
    color: white;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: rgb(58, 179, 58);
    font-weight: bold;
}

a.recipelink{
    margin: 100px;
}

a.mainlink{
    color: white;
}

a:hover{
    text-decoration: none;
}


table tr.ingredients:nth-child(2n){

    background-color:#80808042;
}

#recipes{
    display: grid;
    grid-template-columns:repeat(4,auto);
    column-gap: 16px;
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;

}
